<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HospitalDepartment">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testingbatch.anjali.TestNGSkinDepartment"/>
      <class name="org.testingbatch.anjali.TestNGPediatrician"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- HospitalDepartment -->
